

/* إعدادات عامة */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    direction: rtl;
    font-family: "Cairo", serif;
}

h1, h2, h3, p {
    margin: 0;
    padding: 10px;
    text-align: center;
}

/* Header & Navigation */
header {
    background-color: #926239;
    color: #fff;
    padding: 20px 0;
}
header img{
    width: 250px;
 }
header nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Landing Section */
.landing {
    background: url('') no-repeat center center/cover;
    color: #fff;
    text-align: center;
    padding: 100px 20px;
}

.landing button {
    background-color: #926239;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

/* Collections Section */
.cards {
    display: flex;
    justify-content: space-around;
    padding: 40px 20px;
    background-color: #f4f4f4;
    flex-wrap: wrap;
}

.card {
    background-color: #fff;
    padding: 20px;
    width: 30%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 20px;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }

  .card button {
      background-color: #926239;
      color: #fff;
      padding: 10px 15px;
      border: none;
      cursor: pointer;
  }
  
  /* About Section */
  #about {
      padding: 40px 20px;
      background-color: #e8e8e8;
      text-align: center;
  }
  
  /* Contact Form Section */
  #contact {
    padding: 40px 20px;
      background-color: #f4f4f4;
      text-align: center;
  }
  
  form {
      max-width: 600px;
      margin: auto;
      display: flex;
      flex-direction: column;
  }
  
  form label, form input, form textarea {
      margin: 10px 0;
  }
  
  form input, form textarea {
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
  }
  /* Footer */
  footer {
      background-color: #926239;
      color: #fff;
      text-align: center;
      padding: 20px 0;
  }
  
  footer .social-icons a {
      margin: 0 10px;
  }
  
  footer .social-icons img {
      width: 24px;
      height: 24px;
  }